{% extends "passages/base.html" %}

{% block title %}New Passage Request{% endblock %}
{% block header %}New Passage Request{% endblock %}

{% block content %}
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="/passages/new/" method="post">
  {% csrf_token %}
  <fieldset>
  {% for field in form %}
    <div class="fieldWrapper">
      <div class="fieldLabel">{{ field.label_tag }}</div>
      {{ field.errors }}
      <div class="field">{{ field }}</div>
    </div>
  {% endfor %}
  </fieldset>
  <input type="submit" value="Submit">
</form>
{% endblock %}