{% extends "passages/base.html" %}

{% block title %}Pre-Arrival Information{% endblock %}
{% block header %}Pre-Arrival Information{% endblock %}

{% block content %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% if flash.success %}<div id='flashmessage' class='success'>{{ flash.success }}</div>{% endif %}
{% if flash.error %}<div id='flashmessage' class='error'>{{ flash.error }}</div>{% endif %}

<form action="" method="post" id="passageForm">
  {% csrf_token %}
  <fieldset>
  {% for field in form %}
    <div class="fieldWrapper">
      <div class="fieldLabel">{{ field.label_tag }}</div>
      <div class="field">{{ field }}</div>
      {{ field.errors }}
    </div>
  {% endfor %}
  </fieldset>
  <div id="formButtons">
    <a href="#" id="formResetButton" class="button big negative"><span class="reload icon"></span>Reset</a>
    <a href="#" id="formSubmitButton" class="button big"><span class="check icon"></span>Send</a>
  </div>
</form>

<script>
  $(function() {
    $('#formResetButton').click( function() {
      $('#passageForm').reset();
    });
    $('#formSubmitButton').click( function() {
      $('#passageForm').submit();
    });
  });
</script>
  
{% endblock %}