{
    margin: 0;
    padding: 0;
}

header, footer, aside, nav, article {
    display: block;
}

body {
    margin: 0 auto;
    font: 13px/22px georgia,serif;
    background: #fff;
}

header {
    background: #f0f0f0;
    padding: 30px 0;
}

section {
    width: 960px;
    display: block;
    margin: 15px auto;
}

h1 {
    font: 1.5625em/30px georgia,serif;
    font-size: 36px;
}

header h1 {
    margin: 0 auto;
    width: 980px;
}

header h1 img {
    padding-right: 10px;
    margin-bottom: -15px;
}

p {
    padding-bottom: 22px;
}

fieldset {
    overflow: hidden;
    padding: 0;
    border: none;
}

.fieldWrapper {
    float: left;
    width: 232px;
    padding: 4px;
    height: 82px;
}

.fieldLabel {
    font-family: Georgia,serif;
    padding: 5px 0 0 0;
    font-size: 19px;
    color: #848787;
}

ul.errorlist {
    list-style: none;
    font-size: 11px;
    color: red;
    padding: 0 6px;
    margin: 0;
}

ul.errorlist li {
    
}

.field {
    width: 232px;
}

.field input {
    font-size: 12px;
    width: 220px;
    padding: 6px;
    background-color: #EFEFEF;
    border: 1px solid #CCC;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
}

input.dtField {
    width: 94px;
    margin-left: 4px;
    margin-right: 4px;
    text-align: center;
}

.field select {
    font-size: 12px;
    margin-top: 2px;
    height: 29px;
    width: 234px;
    background-color: #EFEFEF;
    border: 1px solid #CCC;
}

#formButtons {
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
}
#formButtons a {
    margin: 10px;
}


#flashmessage {
    text-align: center;
    padding: 10px;
    margin: 10px auto;
    display: block;
    width: 80%;
    border: 1px solid;
    font: 1.5625em/30px georgia,serif;
    font-size: 24px;
}

.error {
    background-color: #B66;
    color: #511;
    border-color: #511;
}

.success {
    background-color: #6B6;
    color: #151;
    border-color: #151;
}